/* #region base */
nav {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 8px 50px rgb(236, 233, 233);
  background-color: #fff;
}

.list-visibility {
  display: none;
}

main {
  padding-top: 48px;
}

svg {
  width: 16px;
  height: 16px;
}

/* #endregion base */

/* #region nav-bar */
.nav-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 106px;
  height: 48px;
}

.img-logo {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/TNW_logo.png) 50%/100% no-repeat;
}

.search-menu {
  display: flex;
  height: 48px;
}

.search-menu__item {
  display: block;
  height: 48px;
  width: 48px;
  padding: 16px;
  border-left: 1px solid #eee;
}

.icon {
  width: 16px;
  height: 16px;
}

.bar {
  background-color: #f42;
  display: block;
  margin-top: 3px;
  height: 2px;
  width: 20px;
  position: relative;
  left: -2px;
}

/* #endregion nav-bar */

/* #region main */

/* #region big-images */
.big-images {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "main"
    "item"
    "item1";
  width: 100%;
  padding: 8px;
  color: #fff;
}

.big-images__item {
  height: 30vh;
  position: relative;
}

.big-images__item header {
  position: absolute;
  padding: 0 10px;
  bottom: 15px;
}

.big-images__item header h1 {
  font-family: 'Patua One', cursive;
  font-size: 20px;
}

.big-images__item header h5 {
    font-size: 13px;
  }

.big-images__link {
  height: 100%;
  width: 100%;
  display: block;
}

.big-images__link--main {
    background: linear-gradient(transparent, black), url(../images/cuantuum.jpg) 50%/100% 100% no-repeat;
}

.big-images__link--item {
    background: linear-gradient(transparent, black), url(../images/hacker.png) 50%/100% 100% no-repeat;    
}

.big-images__link--item1 {
    background: linear-gradient(transparent, black), url(../images/button.png) 50%/100% 100% no-repeat;    
}

.big-images__link img {
  width: 100%;
  height: 100%;
}

.big-images__item__main {
  grid-area: main;
}

.big-images__item__item {
  grid-area: item;
}

.big-images__item__item1 {
  grid-area: item1;
}

.big-images__item__list {
  display: flex;
  margin-top: 8px;
  font-size: 12px;
}

.big-images__item__list li {
  margin-right: 5px;
  line-height: 12px;
}

.big-images__item__list a {
    color: white;
    text-decoration: none;
}

.big-images__item__list span {
    position: relative;
    bottom: 6px;        
}

.big-images__item__list svg {
    position: relative;
    bottom: 2px;        
}

/* #endregion big-images */

/* #region wrapper */
.wrapper {
    max-width: 1192px;
    padding: 0 20px;
}

/* #region latest-news */
.latest__article {
    display: grid;
    padding: 10px 0;
    grid-template-columns: 75px 1fr;
    grid-template-rows: auto;
    grid-gap: 8px;
    grid-template-areas: 
    "img title"
    "img author-date";
}

.latest__article__img {
    width: 75px;
    height: 75px;
    grid-area: img;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.latest__article__img a {
    width: 100%;
    height: 100%;
    display: block;
}

.latest__article:nth-of-type(1) .latest__article__img {
    background-image: url(../images/TNWDeals.jpg);
}

.latest__article:nth-of-type(2) .latest__article__img {
    background-image: url(../images/David_Canellis.jpg);
}

.latest__article:nth-of-type(3) .latest__article__img {
    background-image: url(../images/Yessi_Bello_Perez.jpg);
}

.latest__article__title {
    grid-area: title;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
}

.latest__article__title a {
    text-decoration: none;
    color: black;
}

.latest__article__author-date {
    grid-area: author-date;
    justify-self: left;
    display: flex;
    font-size: 12px;
    color: gray;
}

.latest__article__author-date a {
    text-decoration: none;
    color: gray;
}

.latest__article__author-date li:nth-of-type(2)::before {
    content: "\B7";
    margin-left: 5px;
}

/* #endregion latest-news */

/* #endregion wrapper */

/* #endregion main */

/* #region media-queries */
@media only screen and (min-width: 810px) {
  /* #region nav-bar */
  .visibility {
    display: flex;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 106px 1fr;
    grid-template-rows: 32px 48px;
    grid-template-areas:
      "top-list top-list"
      "logo menu";
  }

  .top-list {
    grid-area: top-list;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20px;
    font-size: 13px;
    line-height: 32px;
    color: #686666;
    background-color: black;
  }

  .top-list ul {
    display: flex;
  }

  .top-list ul li {
    margin-right: 15px;
  }

  .logo {
    grid-area: logo;
  }

  .search-menu {
    grid-area: menu;
    display: flex;
    justify-content: space-between;
  }

  .main-list {
    display: flex;
    padding: 0 20px;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 48px;
    color: gray;
  }

  .main-list li {
    margin-right: 15px;
  }

  .bars {
    display: none;
  }
  /* #endregion nav-bar */
}

@media only screen and (min-width: 1024px) {
  /* #region nav-bar */
  .logo {
    display: none;
  }

  .nav-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "top-list"
      "menu";
  }
  /* #endregion nav-bar */
}
/* #endregion media-queries */
